
<style>
body { 
    background-image: url("Website background REV1.webp"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% 
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}
<body>
<!--Footer-->
<div id="footer">
<h1 class="copyright">Office: 888-345-LOAD<br><a href="mailto:customerservice@ampere.dev">customerservice@ampere.dev</a><br>Po Box 101 <br> Friendship, MD 20758</h1>
<h1 class="social">Hours of Operation: Mon - Fri 7:00am - 7:00pm <br><br> Copyright © 2019 Ampere.dev, LLC<br> All rights reserved. </h1>
      </div>
  </footer>
</body>
</style>
