html { 
    background: url(Website background REV1.webp) no-repeat center center; 
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#footer {
	max-width: 980px;
	text-align: center;
    margin: auto;
}

h1 {

font-family: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif"';
			text-transform:uppercase;
			font-weight : 300;
			font-size : 20px;
            background-color: grey;
			color : #FFFFFF;

}

.copyright {
    float: left;
}

.social {
	float: right;
}

media all and (max-width:900px), (max-device-width:900px){
body{
background-image: url('Website background REV2.webp');
}
